.spreadsheet {
  background-image: linear-gradient(#3d3d3d, #141414);
  height: 3.2rem;
  text-align: center;
  width: 100%;
}

.rows td {
  background-color: white;
  padding: var(--min-spacing);
}

.rows td:first-of-type {
  font-weight: 700;
}

.columns th {
  color: white;
  padding: var(--small-spacing);
}

.columns th:last-of-type {
  border: none;
}
