:root {
  --min-spacing: 0.312rem;
  --small-spacing: 0.625rem;
  --default-spacing: 0.937rem;
  --large-spacing: 1.875rem;
  --extra-large-spacing: 3.75rem;
  --base-color-theme: #749757;
  --darken-base-color-theme: #223322;
  --light-base-color-theme:#436444;
  --yellow-color-theme: #af4f4d;
  --gray-color-theme: #f0e8d2;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
